Django>=4.2
django-crispy-forms
crispy-bootstrap5
pillow
python-decouple
whitenoise
gunicorn
psycopg2-binary
dj-database-url
django-cloudinary-storage
cloudinary
requests
django-localflavor
django-simple-history
Pillow
